@import 'theme-colors';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap');

$family-sans-serif: "Lato", sans-serif;
$primary: #ffffff;
$primary-invert: #ff00bd;

$colors: (
        "large": ($primary, $primary-invert),
);

$link: $primary;
$link-invert: $primary-invert;

// Import Bulma and Buefy styles
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
