@import 'theme-colors';

/*
* === BODY, APP BACKGROUND ETC. ===
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pathway+Gothic+One&display=swap');

html, body {
    font-family: 'Pathway Gothic One', sans-serif;
    height: 100%;
}

#app {
    font-family: 'Pathway Gothic One', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 5%;
    margin-top: 5%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--app-background-color);
}

h1 {
    font-size: 4em;
    letter-spacing: 10px;
    margin: 0px;
}


h1,h2,h3,h4,h5,h6,p {
    color: var(--dynamic-title-color);
}

p {
    margin: 10px 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}


